@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600&display=swap");
:root {
  --cor-primaria: #0a3871;
  --cor-secundaria: #d8dfe8;
  --cor--teciaraia: #020202;
  --cor--quartenaria: #ffee00;
  --cor--quintenaria: #2a77d5;

  --COR--HOUVER: ##8ea88d;
  --forte--primaria: "Krona One", sans-serif;
  --forte--secundaria: "Montserrat", sans-serif;
}
* {
  line-height: 1.5;
  transition: 0.2s;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Funciona no Firefox */

  scrollbar-width: thin;
  scrollbar-color: #2a77d5 var(--cor-secundaria);
}

/* Funciona no Chrome, Edge e Safari */
* ::-webkit-scrollbar {
  width: 12px;
  background-color: var(--cor-primaria);
  border-radius: 20px; /* Arredonda as bordas da barra de rolagem */
  border: 3px solid var(--cor-secundaria);
}

* ::-webkit-scrollbar-track {
  background: var(--cor-secundaria);
}

* ::-webkit-scrollbar-thumb {
  background-color: v3ar(--cor-primaria);
  border-radius: 20px;
  border: 3px solid var(--cor-secundaria);
}

.body {
  background: var(--cor-secundaria);
  display: flex;
  justify-content: space-around;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 40px;
  transition: 0.2s;
  margin-left: 40PX;
}
.main {
  display: flex;
  justify-content: space-around;
}

textarea {
  resize: none;
}

.digitacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#texto_inicial {
  margin-top: 15%;
  background-color: transparent;
  border-color: transparent;
  border-radius: 30px;
  color: #0a3871;
  padding: 0.5rem;
  font-size: 1.75rem;
  font-size: "inter";
  height: 95%;
  margin-left: -100px;

}

.caractere__errado {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(75, 80, 86);
  padding-bottom: 12px;
  justify-content: baseline;
  align-self: start;

}
.caractere__errado:hover{
  color: #0a3871;
  transition: 0.5s;
  transform: scale(1.1);
  font-size: 20px;
}

.apresentacao__botao {
  gap: 8px;
  width: 680px;
  display: flex;
  justify-content: space-between;
}

#acao__criptrografar {
  background-color: var(--cor-primaria);
  color: white;
  width: 325px;
  border: 1px solid var(--cor--teciaraia);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 12px var(--cor--teciaraia);
  font-size: 25px;
  padding: 24px;

}
#acao__descptografar {
  margin-left: 30px;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  width: 325px;
  border: 1px solid var(--cor--teciaraia);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 12px var(--cor--teciaraia);
  font-size: 25px;
  padding: 24px;

}
#acao__criptrografar:hover {
  transition: 0.5s;
  transform: scale(1.1);
  font-size: 35px;
}
#acao__descptografar:hover {
  transition: 0.5s;
  transform: scale(1.1);
  font-size: 35px;
}

.apresentacao__resultado {
  background-color: white;
  border-radius: 30px;
  height: 35rem;
  width: 32rem;
  text-align: center;
  box-shadow: 12px 18px 35px var(--cor--quintenaria);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mensagem {
  display: flex;
  font-size: 24px;
  font-weight: 700px;
  font-weight: bold;
  text-align: center;
  justify-content: center;

}
#mensagem__aguardando {
  text-align: center;
  font-weight: 700;
  padding-bottom: 12px;
  font-size: 1.5rem;
}

#img_inicial {
  filter: drop-shadow(10px 17px 5px var(--cor-primaria));
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  margin-left: 15%;
  justify-content: center;
  align-items: center;
}

#texto_saida:placeholder-shown {
  background-position: top;
  background-repeat: no-repeat;
  transition: cubic-bezier(0.6, 0.4, 0.98, 0.335);
}
#texto_saida:not(:placeholder-shown) {
  background-color: #fff;
  color: var(--cor--teciaraia);
  
}
#texto_saida {
  margin-top: 20px;
  display: none;
  border-color: transparent;
  border-radius: 30px;
  padding: 0.5rem;
  text-align:justify;
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 3%;
  width: 90%;
  height: 80%;
}
#copiar {
  margin-top: 10px;
  width: 225px;
  height: 60px;
  border: 1px solid var(--cor--teciaraia);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 12px var(--cor--teciaraia);
  font-size: 25px;
  align-items: center;
  justify-content: center;
  
}
#copiar:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background-color: var(--cor--quintenaria);
  color: white;
  border: #0a3871;
  font-size: 40px;
}


#rodape {
  background-color: #0a3871;
  background-image: linear-gradient(
    43deg,
    #0a3871 0%,
    #d8dfe8 50%,
    #1e78a2 100%
  );
 display: block;
}

.rodape__links {
  list-style-type: none;
  padding: 10;
}

.rodape__links li {
  display: inline-block;
}

.rodape__links li:not(:last-child) {
  margin-right: 10px; /* Adiciona espaço entre os itens, exceto o último */
}

.rodape__links li a {
  text-decoration: none;
}
#nome {
  font-size: 25px;
  font-style: italic;
}

/* Estilos para tablets (entre 601px e 1024px) */
@media (min-width: 601px) and (max-width: 1200px) {
  .main {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .cabecalho {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }
  #texto_inicial {
    flex-direction: row;
    margin: 5% 0px 0px 40px;
    width:90%;
    height: 30%;
  }
  .caractere__errado {
    margin-top: 450px;
    align-items: baseline;
    align-items: center;
    margin-left: 40px;
  }
  .apresentacao__botao {
    width: 100%;
    margin-left: 40px;
  }
  #acao__criptrografar {
    font-size: 20px;
    width: 43%;
    height: 82px;
  }
  #acao__descptografar {
    font-size: 20px;
    width: 43%;
    height: 82px;
  }
  #acao__criptrografar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    font-size: 30px;
  }
  #acao__descptografar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    font-size: 30px;
  }
  .apresentacao__resultado {
    height: 133px;
    flex-direction: column;
    width: 90%;
    margin-left: 40px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }
  #img_inicial {
    display: none;
  }
  #mensagem__aguardando{
    margin-top: -10px;
    text-align: center;
    margin-left: 10px;
    margin: 20px;
    justify-content: center;
  }
  #texto_saida {
    width: 90%;
    height: 180px;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 5%;
  }

  #copiar {
    margin-top: 20px;
    width: 497px;
    height:67px ;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 0px 0px;
    margin-left: 24%;
  }
  
#rodape {
  margin-top: 20%;
}
}

/* Estilos para telas menores que 600px (celulares) */
@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .cabecalho {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    margin-left: -20px;
    transition: 0.2s;
  }
  #texto_inicial {
    margin-top: 56px;
    flex-direction: row;
    margin: 20px 0px 0px 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .caractere__errado {
    align-items: baseline;
    margin: 40px 0px 0px 40px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .apresentacao__botao {
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 90vw;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .tex

  .apresentacao__resultado {
    padding: 5%;
    margin: 0px 0px 0px 0px;
    width: 300px;
    height: 300px;
    flex-direction: column;
    display: flex;
    margin-left: 40px;
  }

  #img_inicial {
    display: none;
  }

  #mensagem {
    font-size: 27px;
    font-weight: 700px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 0px 0px;
    margin-top: 50px;
    
    
  }
  #mensagem__aguardando{

    font-size: 24px;
    text-align: justify;
    margin: 0px 0px 0px 0px;
    padding: 5%;
  }

  #copiar {
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }

}
