@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
:root {
  --cor-primaria: #0a3871;
  --cor-secundaria: #d8dfe8;
  --cor--teciaraia: #020202;
  --cor--quartenaria: #ffee00;
  --cor--quintenaria: #2a77d5;

  --COR--HOUVER: ##8ea88d;
  --forte--primaria: "Krona One", sans-serif;
  --forte--secundaria: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  /* Funciona no Firefox */
  scrollbar-width: thin;
  scrollbar-color: #2a77d5 var(--cor-secundaria);
}
/* Funciona no Chrome, Edge e Safari */
* ::-webkit-scrollbar {
  width: 12px;
  background-color: var(--cor-primaria);
  border-radius: 20px; /* Arredonda as bordas da barra de rolagem */
  border: 3px solid var(--cor-secundaria);
}
* ::-webkit-scrollbar-track {
  background: var(--cor-secundaria);
}
* ::-webkit-scrollbar-thumb {
  background-color: v3ar(--cor-primaria);
  border-radius: 20px;
  border: 3px solid var(--cor-secundaria);
}
.body {
  background: var(--cor-secundaria);
  box-sizing: border-box;
}
.cabecalho {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 40px;
  transition: 0.2s;
  margin-left: 40px;
}
.main {
  padding: 2% 1%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

textarea {
  resize: none;
}

.digitacao {
  padding: 40px 40px 40px 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#texto_inicial {
  background-color: transparent;
  border-color: transparent;
  border-radius: 30px;
  color: #0a3871;
  font-size: 2rem;
  height: 100%;
  padding: 7px;  
}
.caractere__errado {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(75, 80, 86);
  padding-bottom: 12px;
  justify-content: baseline;
  align-self: start;
}
.caractere__errado:hover {
  color: #e50e0e;
  transition: 0.5s;
  transform: scale(1.1);
  font-size: 20px;
}

.apresentacao__botao {
  gap: 8px;
  width: 680px;
  display: flex;
  justify-content: space-between;
}

#acao__criptrografar {
  background-color: var(--cor-primaria);
  color: white;
  width: 325px;
  border: 1px solid var(--cor--teciaraia);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 12px var(--cor--teciaraia);
  font-size: 25px;
  padding: 24px;
}
#acao__descptografar {
  margin-left: 30px;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  width: 325px;
  border: 1px solid var(--cor--teciaraia);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 12px var(--cor--teciaraia);
  font-size: 25px;
  padding: 24px;
}
#acao__criptrografar:hover {
  transition: 0.5s;
  transform: scale(1.1);
  font-size: 35px;
}
#acao__descptografar:hover {
  transition: 0.5s;
  transform: scale(1.1);
  font-size: 35px;
}

.apresentacao__resultado {
  background-color: white;
  border-radius: 30px;
  height: 38rem;
  width: 32rem;
  box-shadow: 12px 18px 35px var(--cor--quintenaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
  justify-content: center;
}

#mensagem {
  display: flex;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  justify-content: center;
}
#mensagem__aguardando {
  padding-left: 8px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 12px;
  font-size: 1.5rem;
}
#img_inicial {
  filter: drop-shadow(10px 17px 5px var(--cor-primaria));
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  justify-content: center;
  align-items: center;
}
#texto_saida:placeholder-shown {
  background-position: top;
  background-repeat: no-repeat;
  transition: cubic-bezier(0.6, 0.4, 0.98, 0.335);
}
#texto_saida:not(:placeholder-shown) {
  background-color: #fff;
  color: var(--cor--teciaraia);
}
#texto_saida {
  margin-top: 20px;
  display: none;
  border-color: transparent;
  border-radius: 30px;
  padding: 0.5rem;
  text-align: justify;
  font-size: 2rem;
  margin-top: 10px;
  width: 90%;
  height: 80%;
}
#copiar {
  margin-top: 40px;
  width: 225px;
  height: 60px;
  border: 1px solid var(--cor--teciaraia);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 12px var(--cor--teciaraia);
  font-size: 25px;
  align-items: center;
  justify-content: center;
}
#copiar:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background-color: var(--cor--quintenaria);
  color: white;
  border: #0a3871;
  font-size: 40px;
}
#rodape {
  margin-top: 50px;
  background-color: #0a3871;
  background-image: linear-gradient(
    43deg,
    #0a3871 0%,
    #d8dfe8 50%,
    #1e78a2 100%
  );
  display: flex;
  flex-direction: column; /* Altera o layout para coluna */
  align-items: center;
  justify-content: center;
  height: 60px; /* Ajuste a altura conforme necessário */
}
.rodape__links ul {
  display: flex; /* Adiciona display flex para centralizar os itens */
  justify-content: center; /* Centralize os itens horizontalmente */
}
.rodape__links li {
  display: inline-block;
  margin-right: 10px; /* Adiciona espaço entre os itens */
}
li:hover {
  transition: 0.5s;
  transform: scale(1.4);
  filter: hue-rotate(90deg);
  filter: drop-shadow(16px 16px 20px #0a3871) invert(50%);
}
.nome__rodape {
  font-family: cursive;
  font-weight: 800;
  display: flex;
  text-align: center; /* Alinha o texto no centro */
  font-style: italic;
}
span {
  font-weight: bold;
}

/* Estilos para tablets (entre 601px e 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    overflow-y: visible;
  }
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .cabecalho {
    height: 20px;
    margin-top: 50px;
    margin-left: -10px;
  }
  .digitacao {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #texto_inicial {
    display: block;
    width: 98%;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }
  .caractere__errado {
    align-items: baseline;
    margin-left: 40px;
  }
  .apresentacao__botao {
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
  }
  #acao__criptrografar {
    font-size: 20px;
    width: 43%;
    height: 82px;
    padding: 0;
  }
  #acao__descptografar {
    font-size: 20px;
    width: 43%;
    height: 82px;
    padding: 0;
  }
  #acao__criptrografar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    font-size: 30px;
  }
  #acao__descptografar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    font-size: 30px;
  }
  .apresentacao__resultado {
    display: flex;
    height: 133px;
    width: 97%;
    margin-top: 60%;
  }
  #img_inicial {
    display: none;
  }
  #mensagem {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 800;
  }
  #mensagem__aguardando {
    text-align: center;
    margin-left: 10px;
    margin: 20px;
    justify-content: center;
  }
  #texto_saida {
    width: 90%;
    height: 400px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #copiar {
    margin-top: 20px;
    width: 50%;
    height: 67px;
    align-items: center;
    justify-content: center;
  }

  #rodape {
    margin-top: 5%;
  }
}

/* Estilos para telas menores que 600px (celulares) */
@media (max-width: 768px) {
  .main {
  }
  .cabecalho {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    margin-left: -20px;
    transition: 0.2s;
  }
  #texto_inicial {
    margin-top: 56px;
    flex-direction: row;
    margin: 20px 0px 0px 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .caractere__errado {
    align-items: baseline;
    margin: 40px 0px 0px 40px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .apresentacao__botao {
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 90vw;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .tex .apresentacao__resultado {
    padding: 5%;
    margin: 0px 0px 0px 0px;
    width: 300px;
    height: 300px;
    flex-direction: column;
    display: flex;
    margin-left: 40px;
  }

  #img_inicial {
    display: none;
  }

  #mensagem {
    font-size: 27px;
    font-weight: 700px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 0px 0px;
    margin-top: 50px;
  }
  #mensagem__aguardando {
    font-size: 24px;
    text-align: justify;
    margin: 0px 0px 0px 0px;
    padding: 5%;
  }

  #copiar {
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }
}
